!!!
%html
  %head
    %title RailsBase
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = render 'shared/rollbar'
    = render 'shared/heap'
  %body
    .container-fluid
      .row
        .col-md-12
          - if notice
            .alert.alert-info
              = notice
          - if alert
            %p.alert.alert-danger
              = alert
      - if user_signed_in?
        .row
          .col-md-1
            = link_to 'Log Out', destroy_user_session_path, method: 'delete', class: 'btn btn-default'
      = yield
      = javascript_include_tag "application"
      = yield :javascripts
      - # to use
      - # - content_for :javascripts do
      - #   :javavscripts
      - #     $(document).ready(function({});)